/extrator_dados/sdk/front_end/lazarus/build/*.exe
/extrator_dados/sdk/front_end/lazarus/build/*.zip
/extrator_dados/sdk/front_end/lazarus/build/*.txt
/extrator_dados/sdk/front_end/lazarus/build/Relatorios/
/extrator_dados/sdk/front_end/lazarus/project/lib
/extrator_dados/sdk/front_end/lazarus/project/backup
/extrator_dados/sdk/front_end/lazarus/source/main/backup
/extrator_dados/sdk/front_end/lazarus/source/main/form/backup
/extrator_dados/sdk/front_end/lazarus/source/main/data_module/backup
